body{
	background-color: #232323;
	margin:0;
	font-family: "Avenir";
}
.square {
	width: 30%;
	background: blue;
	 float:left;
	padding-bottom: 30%;
	margin:1.66%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition:background 0.5s;
	border-radius: 15%;
}
#container{
	max-width: 600px;
	margin:20px auto;
}
h1{text-align: center;
	color:white;
	background-color: steelblue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	line-height: 1;

}
button{
	border:none;
	background: none;
	text-transform: uppercase;
	font-family: "Avenir";
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5Ss;
	-webkit-transition: all 0.5s;
	-moz-transition:all 0.5s;
	outline:none;

}
#message{
	color: steelblue;
	display: inline-block;
	width: 20%;
	font-size: 100%;
	font-weight: 700;
}
#stripe{
	background:white;
	height: 20px;
	text-align: center;;
}
.selected{
	color:white;
    background-color: steelblue;}
#text{
	font-size: 200%;
}
button:hover{
	color:white;
    background-color: steelblue;

}